@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    font-family: 'Montserrat', sans-serif;
    color:black;
}

.nav-link:hover{
    color:gray !important;
    text-decoration: underline;
}

.video-text{
    position: relative;
}

.text-video{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 50px;
}

.text-video1{
    position: absolute;
    top: 70%;
    left: 21%;
    font-size: 20px;
}

.logo-video{
    position: absolute;
    top: 13%;
    left: 2%;
}

img.logo-video{
    border-radius: 50%;
}

#vid {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

.border-bottom {
    border-bottom: 25px solid black;
}

/* .index-customize{
    position: absolute;
    top:400px;
    left:600px;
    color:white;
} */

/* .ingredients-image{

} */